.builder {
  display: flex;
  flex-grow: 1;
}

.component {
  background-color: aquamarine;
  width: 100px;
  padding: 16px;
  margin: 4px;
}

.canvas {
  height: 500px;
  width: 100%;
  background-color: lightcyan;
}