.builder {
  display: flex;
  flex-grow: 1;
}

.component {
  background-color: #f9fafc;
  width: 100px;
  padding: 16px;
  margin: 4px;
}

.canvas {
  min-height: 150px;
  width: 80%;
  background-color: #f9fafc;
  border: 2px dotted #474d66;
  padding: 4px;
  margin: 4px;
}

body {
  margin: 0px;
}